html head header body div nav.navtop a h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
header {
    position: relative;
}
div.nav {
   height: 350px;
   width: 100%;
   background-position: center;
   background-image: url(3333.jpg);
   background-size: cover;
   position: relative;
    }
nav.navtop a {
    float: left;
    display: inline-block;
    margin-right: 20px;
    margin-left: 40px;
    font-family: Verdana;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #200830;
    border: 5px double;
    border-color: #360369;
    position: relative;
}
nav a:hover{
    background: #82693b; 
    color: #ffe;  
 }
   